//  Variables

$color-link: red;
$color-link-hover: crimson;

$color-background: #eeeeee;
$color-background-container: #ffffff;
$color-link-background: #cccccc;
$color-link-background-hover: #333333;

$container-width: 960px;

//Breakpoints
$breakpoint-3: 48em; // 768 / 16px
$breakpoint-2: 36em; // 576 / 16px
$breakpoint-1: 24em; // 304 / 16px